body {
  background-color: white; }

.header {
  background-color: #cbbcd5; }

.example {
  background-color: #d9d2e9; }

.form {
  background-color: #f2caf1; }

.guarantee {
  background-color: #cfe2f3; }

.testimonials {
  background-color: #f3f3f3; }

.contacts {
  background-color: #ebdad6; }
