// Colors
$header-color:#cbbcd5;
$example-color:#d9d2e9;
$form-color:#f2caf1;
$guarantee-color:#cfe2f3;
$testimonials-color:#f3f3f3;
$contacts-color:#ebdad6;

// Containers
$height-header-container:200px;
$height-container:100px;